@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
*{
    font-family: Arial, Helvetica, sans-serif;
}
html::-webkit-scrollbar{
    display: none;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}